.login-modal *{
	font-family: inherit;
	font-size: auto;
}

.discussion{
	height: 100vh;
}

.login-modal .container{
	height:100%;
	width: 100%;
	background-position: center;
	background-size: cover;
	position: absolute;	
}
.login-modal .form-box{
	width: 350px;
	height: 500px;
	position: relative;
	margin:5% auto;
	background:whitesmoke;
	box-sizing: border-box;
	padding: 7px;
	border-radius: 15px;
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s ease-in; 
	top:60px;
	text-transform: uppercase;
}
.login-modal #click:checked ~ .form-box{
	opacity: 1;
	visibility: visible;
}
.login-modal .fa-times:clicked ~ .form-box{
	opacity: 0;
	visibility: hidden;
}

.login-modal .button-box{
	width:220px;
	margin:60px auto;
	position: relative;
	box-shadow: 0 0 20px 9px beige;
	border-radius: 30px;
}
.login-modal .toggle-btn{
	padding: 5px 25px;
	cursor: pointer;
	background:transparent;
	border:10px;
	outline: none;
	position: relative;
	text-transform: uppercase;
}
.login-modal .button-box{
	position: absolute;
	top:-16px;
	left: 65px;
}
.login-modal #btn{
	top: 0;
	left: 0;
	position: absolute;
	width: 110px;
	height: 100%;
	background:skyblue;
	border-radius: 15px;
	transition: .5s;
}
.login-modal .input-group{
	top: 100px;
	position: absolute;
	width: 280px;
	transition: .5s;
	margin-left: -15px;
	padding: -10px;
}
.login-modal .input-area{
	top: 145px;
	position: absolute;
	width: 280px;
	transition: .5s;
	margin-left: -20px;
}
.login-modal .input-field{
	width: 100%;
	padding: 5px 15px;
	margin-top:7px;
	border-radius: 3px;
	outline: none;
	background:#fff;
	border: none;
	border-bottom: 1px solid transparent;
}

.login-modal .input-field:focus{
	outline: none;
	border-bottom: 2.5px solid rgb(129, 161, 39);
	box-shadow: 0 10px 20px rgb(0, 0, 0, .1);
}

.login-modal .input-field:focus:invalid{
	border-bottom: 2.5px solid rgb(212, 33, 33);
}

.login-modal .submit-btn{
	width:85%;
	top: 400px;
	padding: 5px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background:skyblue;
	border:0;
	outline:none;
	margin-left: 30px;
	border-radius: 15px;
	transition: all .2s;
	text-transform: uppercase;

}
.login-modal .submit-btn:hover{
	background:rgb(64, 125, 206);
	transform: translateY(-5px) scale(1.05);
	box-shadow: 0 10px 30px rgba(0, 0, 0, .15);
}

.login-modal .submit-btn:active{
	transform: translateY(-1px) scale(1.05);
	box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
}

.login-modal .check-box{
	margin:30px 10px 36px 10px;
	font-family: serif ;
	font-weight: 600px;
}
.login-modal span{
	color: #777;
	font-size:12px;
	bottom:66px;
	position: absolute;
}
.login-modal #login{
	left:50px;
}
.login-modal #register{
	left:450px;
}
.login-modal .submit-button{
	width:85%;
	padding: 5px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background:skyblue;
	border:0;
	outline:none;
	border-radius: 15px;
	margin-top:20px;
	margin-left:25px;
	transition: all .2s;
	text-transform: uppercase;
}

.login-modal .submit-button:hover{
	background:rgb(64, 125, 206);
	transform: translateY(-5px) scale(1.05);
	box-shadow: 0 10px 30px rgba(0, 0, 0, .15);
}

.login-modal .submit-button:active{
	transform: translateY(-1px) scale(1.05);
	box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
}

.login-modal #click{
	display: none;
}
.login-modal .click-me{
	display: block;
	width: 160px;
	height: 50px;
	background: skyblue;
	border:1px solid #26a65b;
	text-align: center;
	font-size: 22px;
	line-height: 50px;
	border-radius: 5px;
	cursor: pointer;
	position: absolute;
	left: 45%;

}
.login-modal .click-me:hover{
	background:#219150;
}
.login-modal .fa-times{
	position: absolute;
	right: 20px;
	top: 10px;
	cursor: pointer;
}