.discussion {
	height: 30vh;
}

.quetion a {
	text-decoration: none;
	color: inherit;
}

.quetion {
	z-index: 1;
	width: 100%;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	margin: 2vw 0 8vw 0;
	box-shadow: 0 1vw 2vw rgba(0, 0, 0, .2);
	border-radius: .8vw;
	position: relative;
	color: #fff;
	background-color: #142850;
	padding: 1.2vw 0 2vw 0;
}

.quetion-box {
	position: absolute;
	top: 48%;
	left: 14%;
	transform: translate(-50%, -50%);
}

.profileimg {
	height: 6vw;
	width: auto;
	border-radius: 50%;
}

.author {
	font-family: inherit;
	font-size: inherit;
	margin-top: 1.5vw;
}

<<<<<<< HEAD
.que-box{
	height: -webkit-fit-content;
	height: -moz-fit-content;
=======
.que-box {
>>>>>>> 1a9fd637eaa48ffdacca470eea2d18a4c440f23b
	height: fit-content;
	width: 100%;
}

.que-title {
	font-weight: 700;
	font-size: 110%;
	width: 94%;
<<<<<<< HEAD
    margin-left: 5%;
    margin-bottom: 1.6vw;
    padding-top: 1vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
=======
	margin-left: 5%;
	margin-bottom: 1.6vw;
	padding-top: 1vw;
	height: fit-content;
>>>>>>> 1a9fd637eaa48ffdacca470eea2d18a4c440f23b
}

.que-description {
	width: 94%;
<<<<<<< HEAD
    margin-left: 5%;
    margin-bottom: 1.6vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
=======
	margin-left: 5%;
	margin-bottom: 1.6vw;
	height: fit-content;
>>>>>>> 1a9fd637eaa48ffdacca470eea2d18a4c440f23b
}

.thumbnails {
	list-style: none;
}

.list-item {
	display: inline-block;
	transition: all .2s;
}

.list-item:not(:last-child) {
	margin-right: 4vw;
}

.third-box {
	margin-top: -11.5vw;
	margin-left: .7vw;
}

.domain {
	display: block;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	border: .15vw solid #ffffff;
	margin-bottom: 4vw;
	margin-right: 4vw;
	text-align: center;
	border-radius: .7vw;
	text-transform: uppercase;
	padding: .5vw .5vw;
}

.time {
	display: block;
	margin-top: 4.7vw;
	margin-left: 1.3vw;
}