body .search-box{
	top: 18%;
	left:250px;
	z-index: 1;
}
.search-box{
	position: absolute;
	left: 70%;
	transform: translate(-50%,-50%);
	background:white;
	height:52px;
	border-radius: 50px;
	padding: 6px;
	border:2px solid #142850
}
::-webkit-input-placeholder{
	color:black;
	font-size: 20px;
}
::-ms-input-placeholder{
	color:black;
}
::-moz-input-placeholder{
	color:black;
}
.search-btn{
	padding-left: 1.5px;
	padding-bottom:2.5px;
	margin-top: 2px ;
	margin-right: 10px;
	color:white;
	float:right;
	width:33px;
	height:33px;
	border-radius: 50%;
	background:#142850;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}
.search-txt{
	border:none;
	background:none;
	outline:none;
	margin-left:15px;
	float: left;
	color:#142850;
	font-size: 20px;
	transition: 0.4s;
	line-height: 30px;
	width: 380px;
	text-decoration: none;
}
body select{
	display: flex;
	flex-direction:row;
	justify-content: center;
	align-items: center;
	-webkit-appearance:none;
	-ms-appearance:none;
	appearance:none;
	outline:0;
	box-shadow: none;
	border:0!important;
	background:white;
	background-image: none;
	flex:1;
	padding-left:20px;
	color:black;
	cursor: pointer;
	text-align: center;
	font-size: 1.3em;
	cursor: pointer;
}
.select{
	z-index: 1;
	position: absolute;
	display: flex;
	width:23vw;
	height:7.8vh;
	line-height: 2;
	background:white;
	border-radius: 10px;
	left:37%;
	overflow: hidden;
	text-align: center;
	top: 14vh;
	border:2px solid #142850;
	cursor: pointer;
}
.select:hover{
	box-shadow: 0 5px 5px 0 grey;
}
.select::after{
	content:'\25BC';
	position: relative;;
	top:9px;
	right: 0;
	padding-right:1em;
	background:white;
	cursor: pointer;
	pointer-events: none;
	transition: 0.25s all ease;
	font-size: 17px;
	color:black
}
.select:hover::after{
	color:#142850;
	cursor: pointer;
}
.trending{
	z-index: 1;
	position: absolute;
	top: 14%;
	left: 62%;
	transform: translate(-50%,-50%);
}
a.trend{
	position: absolute;
	text-align: center;
	justify-content: center;
	width: 180px;
	height: 51px;
	padding-top: 8px;
	font-size: 20px;
	color:black;
	border-radius:10px;
	background:white;
	cursor: pointer;
	text-underline-position: none;
	text-decoration: none;
	border:2px solid #142850;
}
a.trend:hover{
	box-shadow: 0 5px 5px 0 grey ;
}
.askq{
	z-index: 1;
	position: absolute;
	top: 14%;
	left: 77%;
	transform: translate(-50%,-50%);
}
a.ask{
	position: absolute;
	text-align: center;
	justify-content: center;
	width: 280px;
	height: 51px;
	padding-top: 8px;
	font-size: 20px;
	color:black;
	border:2px solid #142852;
	border-radius:10px;
	background:white;
	cursor: pointer;
	text-underline-position: none;
	text-decoration: none;
}
a.ask:hover{
	box-shadow: 0 5px 5px 0 grey;
}

