.brdr {
	/* border: 2px solid red; */
}

.main-cntnr {
	margin-top: 60px;
}



.search-box {

	margin: auto;
	background: white;
	border-radius: 50px;
	padding: 0.7vw;
	border: 2px solid #142850;
	height: 3.5vw;
	font-size: 1.5vw;
}

::-webkit-input-placeholder {
	color: black;
	/* font-size: 1.7vw; */
}

::-ms-input-placeholder {
	color: black;
}

::-moz-input-placeholder {
	color: black;
}

.search-btn {

	border-radius: 50%;
	background: #142850;
	font-size: 1.5vw;
	margin-left: auto;
	padding: 0.5vw;
}

.search-txt {
	border: none;
	background: none;
	outline: none;
	margin-left: 1vw;
	margin-right: auto;
	color: #142850;
	transition: 0.4s;
	text-decoration: none;
}

body select {
	width: 95%;
	outline: none;
	padding: 0.5vw;
	box-shadow: none;
	background: white;
	background-image: none;
	color: black;
	cursor: pointer;
	text-align: center;
	font-size: 1.7vw;
	cursor: pointer;
}

.select {
	z-index: 1;
	/*position: absolute;*/
	/* line-height: 2.1; */
	background: white;
	border-radius: 10px;
	/*left:37%;*/
	text-align: center;
	/*top: 14vh;*/
	border: 2px solid #142850;
	cursor: pointer;
	height: 3.5vw;
}



.trending {}

a.trend {
	z-index: 1;

	line-height: 3.5vw;
	height: 3.5vw;
	width: 100%;
	text-align: center;
	justify-content: center;
	/* padding: 8px; */
	font-size: 1.5vw;
	color: black;
	border-radius: 10px;
	background: white;
	cursor: pointer;
	text-underline-position: none;
	text-decoration: none;
	display: flex;
	border: 2px solid #142850;
}




a.ask {
	/*position: absolute;*/
	/* text-align: center; */
	justify-content: center;
	width: 80%;
	height: 3.5vw;
	display: flex;
	/* padding-top: 8px; */
	font-size: 1.5vw;
	color: black;
	border: 2px solid #142852;
	border-radius: 10px;
	background: white;
	cursor: pointer;
	text-underline-position: none;
	text-decoration: none;
}

a.ask p {
	margin: auto;
}