body {
    font-family: inherit;
    line-height: 1.6;

}

.brdr {
    border: 0px solid red;
}

.main-cont {
    margin-top: 65px;
}

.back {
    margin: 3vw;
    font-size:16.5px;
    border: none;
    outline: none;
    border-radius: 1vw;
    background: #142850;
    color: white;
    padding-left:1.2vw;
    padding-right:1.2vw;
    padding-top:0.8vw;
    padding-bottom:0.8vw;

}

.back:hover{
    background: #406fce;
}

.m-card {
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.5);
    background: #142850;
    color: white;
    border-radius: 1vw;
    padding-bottom: 2vw;
}

.answer-card {
    margin-top: 20px;
    /* margin-left:7.2vw; */
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.5);
    padding-bottom: 2vw;
    background: #142850;
    color: white;
    border-radius: 1vw;
}

.like {
    font-size: 1.1vw;
    border: none;
    border-radius: 1vw;
    background: #142850;
    color: aliceblue;
    margin-right: 2vw;
}

.m-left-1{
    margin-left: 1vw;
}

.m-left-2{
    margin-left: 3vw;
}

.answer .like{
    margin: 0vw;
}

.people-card {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin-top: 1.5vw;
    background: #142850;
    color: white;
    border-radius: 1vw;
}


.people {
    font-size: 2vw;
    margin-top: 80px;
}

.quest {
    width: 100%;
    text-align: left;
    font-size: 1.3vw;
    color: white;
    outline: none;
    border: none;
    border-radius: 7px;
    box-shadow: none;
    background: #142850;
    cursor: pointer;
    padding: 12px;
    padding-left: 20px;
    
}

button:focus{
    outline: none;
    border: none;
}

.btn.quest{
    border-radius: 0;
}

.btn:hover {
    color: white;
}

.paa-ans {
    color: #142850;
    font-size: 1.2vw;
    padding: 10px 20px;
}



.profile-name {
    font-size: 1.3vw;
    font-weight: 700;
    align-self: flex-start;
    padding-top: 2vw;
    padding-right: 35px;
    /* padding-left: 3vw; */
}

.ansprofile-name {
    font-size: 1.3vw;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right: 50px;
    margin-left: -1vw;
}

.profile-description {
    font-size: 1.2vw;
    font-weight: 200;
    margin-top: -70px;
    margin-right: 30px;
    margin-bottom: 30px;
    /* margin: -3vw 0 2vw 2vw; */
}

.profile-sidebar {
    text-align: center;
}

.domain {
    margin-top: 2.5vw;
    border: 0.1vw solid #fff;
    border-radius: 0.5vw;
    padding: 0.35vw;
    font-size: 1vw;
    width: 90%;
    text-align: center;
    margin-left: 1vw;

}
.time{
    margin-left: 22vw;
    font-size: 1.2vw;
}
.ans-time{
    margin-left: 20vw;
    font-size: 1.2vw;
}
.profile-image {
    border-radius: 50%;
    height: 6vw;
}

.auth-name {

    margin-top: 1.5vw;
    font-size: 1.5vw;
}

.pt-2{
    margin-top: 2vw;
}