
body{
    font-family: inherit;
    font-size: inherit;
    line-height: 1.6;
    
}
.brdr{
    border: 2px solid red;
}
.main-cont{
    margin-top: 4.6vw;
}
.back{
    margin: 3vw;
    width: 20vw;
    height: 4vw;
    font-size: 1.5vw;
    border: none;
    outline: none;
    border-radius: 1vw;
    background: #050d4e;
    color: white;
}

.m-card{
    box-shadow:  0 0 2em rgba(0, 0, 0, 0.5);
    height: fit-content; 
    background: #050d4e;
    color: white;
    border-radius: 1vw;
    padding: 0.5vw;
}
.answer-card{
    margin-top: 3vw;
    margin-bottom: 3vw;
    box-shadow:  0 0 2em rgba(0, 0, 0, 0.5);
    height:fit-content;
    padding: 0.5vw;
    background: #050d4e;
    color: white;
    border-radius: 1vw;
}
.like{
    font-size: 1.1vw; 
    border-radius:1vw;
    background: #050d4e ;
    color: aliceblue;
}
.people-card{
    box-shadow:  0 0 2em rgba(0, 0, 0, 0.5);
    
    height: fit-content;
    
    background: #050d4e;
    color: white;
    
    border-radius: 1vw;
}


.people{
  
   
}
.quest{
    width: 100%; 
    text-align: left; 
    color: aliceblue;
}
.back:hover{
    box-shadow: 3px 3px 5px grey;
}
.like:hover{
    box-shadow: 3px 3px 5px grey;
}

.profile-name{
   
    font-weight: 700;
}
.ansprofile-name{
    
    font-weight: 500;
}
.profile-description{
   
    font-weight: 200;
}
.profile-sidebar{
    text-align: center;
}
.domain{
    margin-top: 2vw;
    border: 0.1vw solid #fff;
    border-radius:0.5vw;
    padding: 0.45vw;
    font-size: small;
}

.profile-image{
    border-radius: 50%;
    height: 6vw;
    width: 6vw;
}
.auth-name{
   
    margin-top: 0.5vw;
  
}